{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": {"chrome": 68 } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}
